* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;

  color: white;
  background-color: rgb(51, 51, 51);
}

header {
  min-height: 450px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  color: white;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  color: white;
  border: 1px solid white;
}

.btn:hover {
  background: white;
  color: #333;
}

h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

.header-description {
  margin-bottom: 2em;
  max-width: 800px;
}

.web-dev {
  padding-bottom: 2em;

  max-width: 100%;
  color: #333;
  background: white;
}

.web-dev-descript {
  display: inline-block;

  column-width: 300px;
  column-gap: 2em;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.services {
  padding: 2em 1em 1em;
}

.services-list {
  justify-content: center;
  display: flex;
  gap: 20px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;

  list-style: none;
}

.services-item {
  padding: 1em;
  padding-bottom: 2em;

  background: #ffffff;
  color: #333;
}

.digital-needs {
  padding: 2em;

  background: #fff;
  color: #333;
}

.digital-needs-descr {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.contact-about {
  display: flex;
}

.contact-blue-box {
  padding: 2em;
  flex: 1;

  background: #2690d4;
}

.about-black-box {
  padding: 2em;
  flex: 1;
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 2em;

  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #2690d4;
}
